:root {
  /* color */
  --white: #ffffff;
  --gray-10: #f7f7f7;
  --gray-50: #f2f2f2;
  --gray-100: #f0f0f0;
  --gray-200: #e6e6e6;
  --gray-300: #d6d6d6;
  --gray-400: #c2c2c2;
  --gray-500: #a3a3a3;
  --gray-600: #858585;
  --gray-700: #5c5c5c;
  --gray-800: #333333;
  --gray-900: #141414;
  --black: #000000;
  --black-025: hsl(210, 8%, 97.5%);
  --black-050: hsl(210, 8%, 95%);
  --black-100: hsl(210, 8%, 85%);
  --black-200: hsl(210, 8%, 75%);
  --black-400: hsl(210, 8%, 55%);
  --black-500: hsl(210, 8%, 45%);
  --black-750: hsl(210, 8%, 20%);
  --black-800: hsl(210, 8%, 15%);
  --fc-ligth: hsl(210, 8%, 45%);
  --fc-dark: hsl(210, 8%, 5%);
  --bc-darker: var(--black-200);
  --fc-dark: hsl(210,8%,5%);
  --fc-light: hsl(210,8%,45%);
  --blue-050: hsl(206, 100%, 97%);
  --blue-060: hsl(205, 46%, 92%);
  --blue-100: hsl(206, 96%, 90%);
  --blue-300: hsl(206, 90%, 69.5%);
  --blue-500: hsl(206, 100%, 52%);
  --blue-600: hsl(206, 100%, 40%);
  --blue-700: hsl(205, 47%, 42%);
  --red-025: hsl(358, 80%, 98%);
  --red-050: hsl(358, 75%, 97%);
  --red-100: hsl(358, 76%, 90%);
  --red-400: hsl(358, 68%, 59%);

  --theme-button-primary-color: var(--white);
  --theme-button-primary-background-color: var(--blue-500);
  --theme-button-primary-hover-color: var(--white);
  --theme-button-primary-hover-background-color: var(--blue-600);
  --theme-button-primary-active-background-color: var(--blue-700);
  --theme-tag-color: hsl(205, 47%, 42%);
  --theme-tag-background-color: hsl(205, 46%, 92%);
  --theme-tag-hover-color: hsl(205, 46%, 32%);
  --theme-tag-hover-background-color: hsl(205, 53%, 88%);
  --theme-link-color: var(--blue-600);
  --theme-link-color-hover: var(--blue-500);
}
